/* -------------------------------
    Navbar
--------------------------------*/
.navbar {
    background-color: #636262 !important;
    padding-top: 0.2rem; 
    padding-bottom: 0.2rem;
}

.offcanvas-custom {
    width: 50%;
}

/* -------------------------------
    Footer
--------------------------------*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}

/* -------------------------------
    Templates and Images
--------------------------------*/
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

#templateContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}


.template-item {
    background-color: #1e1e1e00;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 150px;
}


.template-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
}

/* price */
.template-item p {
    color: #ddd;
    font-size: 14px;
    margin: 0;
}


.like-btn {
    background-color: transparent;
    border: none;
    color: #ccc; /* first like color is this*/
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
  }
  
  .like-btn:hover {
    transform: scale(1.1);
  }
  
  .like-btn.liked {
    color: white; /* when clicked it will be white */
  }
  
  .like-icon {
    font-size: 1.5rem;
  }

  .template-item .like-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

/* -------------------------------
    Modal
--------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: -1.5%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
  }
  
  .close:hover {
    color: #ccc;
  }
  
  /*  template information */
  #templateDetails {
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  /*container of like , save , shopping basket */
  #templateLikeSave {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5px;
    margin-top: 20px;
    margin-left: 10%;
  }
  
  /* buttons of like , save , shopping basket */
 
  #templateLikeSave button,
  #addToCartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #templateLikeSave button:hover,
  #addToCartButton:hover {
    background-color: #fff;
    color: #121212;
  }
  
  #templateLikeSave button.liked {
    color: white;
    background-color: #fff;
  }
  
  #templateLikeSave button .like-icon {
    font-size: 2rem;
  }
  
  /*  Save icon */
  .save-btn img {
    width: 40px;
    height: 40px;
  }
  
  /* Shopping basket icon */
  .cart-btn img {
    width: 25px;
    height: 25px;
  }
  
  /* Comments */
  #templateComments textarea {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: transparent;
    color: white;
  }
  
  #templateComments button {
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  #templateComments button:hover {
    background-color: #fff;
    color: #121212;
  }


  #template-price {
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: left;
  }
    